@tailwind base;
@tailwind components;
@tailwind utilities;

.message-content ul {
    list-style-type: circle;
    margin-left: 20px;
}

.message-content ol {
    list-style-type: decimal;
    margin-left: 20px;
}